<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package gigId="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package gigId="AutoMapper" version="5.0.2" targetFramework="net452" />
  <package gigId="bootstrap" version="3.0.0" targetFramework="net452" />
  <package gigId="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package gigId="jQuery" version="1.10.2" targetFramework="net452" />
  <package gigId="jQuery.ValgigIdation" version="1.11.1" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights" version="1.2.3" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.0" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.3" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.JavaScript" version="0.15.0-build58334" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.3" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.Web" version="1.2.3" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.WindowsServer" version="1.2.3" targetFramework="net452" />
  <package gigId="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package gigId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package gigId="Microsoft.CodeDom.ProvgigIders.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package gigId="Microsoft.jQuery.Unobtrusive.ValgigIdation" version="3.2.3" targetFramework="net452" />
  <package gigId="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package gigId="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net452" />
  <package gigId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package gigId="Modernizr" version="2.6.2" targetFramework="net452" />
  <package gigId="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package gigId="Owin" version="1.0" targetFramework="net452" />
  <package gigId="Respond" version="1.2.0" targetFramework="net452" />
  <package gigId="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>