@using System.Web.UI.WebControls
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="leftoffset35">Attending:</h2>

<div id="container">
    @Html.Partial("Gigs", @Model)
</div>


@section scripts
{
<script>
        $(document).ready(function () {
            var container = "#container";

            GigsController.init(container);
            FollowController.init(container);
        });
</script>
}
