@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="leftoffset35">Upcoming Gigs:</h2>


@Html.Partial("Gigs", @Model)


@section scripts
{
    <script>
        $(document).ready(function() {
            initGigs();
        });
    </script>
}