@model IEnumerable<GigHub.Core.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artists I'm Following</h2>

<ul>

    @foreach (var artist in @Model)
    {
        <li>
            <span>@artist.Name</span>
        </li>
    }
</ul>

